html, body {
  height: 100%;
  width: 100%;
}


.grid-container {
  display: grid;
  width: 302px;
  /*grid-template-columns: 150px;
  /*grid: auto / auto auto auto;*/
  grid: 100px / 100px 100px 100px;
  grid-gap: 0px;
  border: 5px inset grey;
  background-color: black;
  padding: 5px;
}

.grid-container > button {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100px;
  width: 100px; 
  /*padding: 20px 0; */
  border: 5px inset grey !important;
  text-transform: uppercase;
  font-size: 80px;
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
}

.grid-container > button:hover {
  background-color: #a6a6a6;
}

.x {
  color: #d22d2d;
}

.o {
  color: #3939c6;
}

/* https://freefrontend.com/css-3d-buttons/ !!!!!SKEUMORPHIC BUTTON, game like set up? */